<a href="https://colab.research.google.com/github/daimessdn/colaboratory-notebook/blob/master/sanbercode/sanbercode_last_final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

profit = pd.read_csv("Pendapatan.csv")
profit_test = pd.read_csv("Pendapatan_test.csv")

In [2]:
# melihat dimensi data
print(profit.shape)
print(profit_test.shape)

(38393, 13)
(9599, 12)

In [3]:
# membaca 5 data pertama untuk data pendapatan
profit.head(5)

      id  Umur  ... Jam per Minggu  Gaji
0  27247    59  ...           50.0     1
1   1640    52  ...           38.0     0
2  45206    52  ...           99.0     1
3  16154    45  ...           40.0     0
4  43023    28  ...           45.0     1

[5 rows x 13 columns]

In [4]:
# membaca 5 data pertama untuk data pendapatan_test
profit_test.head(5)

      id  Umur  ... Kerugian Capital  Jam per Minggu
0  47933    30  ...              0.0            40.0
1  44213    28  ...              0.0            50.0
2  20823    34  ...              0.0            40.0
3  40565    51  ...       28028000.0            40.0
4   9860    20  ...       22428000.0            40.0

[5 rows x 12 columns]

In [0]:
# nanv = profit["Pekerjaan"] == "?"
# nanv4 = profit["Kelas Pekerja"] != "Tidak Pernah Bekerja"
# nanv5 = profit["Kelas Pekerja"] == "Tidak Pernah Bekerja"
# nanv2 = profit["Kelas Pekerja"] != "?"
# nanv3 = profit["Kelas Pekerja"] == "?"

# zero_salary = profit["Gaji"] == 0
# one_salary = profit["Gaji"] == 1

# d3 = profit["Pendidikan"] != "D3"
# sma = profit["Pendidikan"] != "SMA"
# d4 = profit["Pendidikan"] != "D4"
# pt = profit["Pendidikan"] != "Pendidikan Tinggi"
# sj = profit["Pendidikan"] != "Sarjana"
# ms = profit["Pendidikan"] != "Master"
# pro = profit["Pendidikan"] != "Sekolah Professional"
# dr = profit["Pendidikan"] != "Doktor"
# sd = profit["Pendidikan"] != "SD"

# th = profit["Pendidikan"].str.contains("th")
# not_th = ~profit["Pendidikan"].str.contains("th")

# # profit[d3 & sma & d4 & pt & sj & ms & pro]
# # profit[th & d3 & sma & d4 & pt & sj & ms & pro & dr & sd

# untung = profit["Keuntungan Kapital"] > 0
# rugi = profit["Kerugian Capital"] > 0

# xth = profit["Pendidikan"] == "1st-4th"
# nth = profit["Jmlh Tahun Pendidikan"] == 2

# ldr = profit["Status Perkawinan"] == "Menikah LDR"
# profit[rugi & untung].count()

In [0]:
# profit.groupby("Pekerjaan").mean()

In [0]:
# profit.groupby("Kelas Pekerja").mean()

In [0]:
# profit["Pekerjaan"].value_counts()

In [0]:
# profit[profit["Pendidikan"] == "SD"].groupby("Pekerjaan").mean()

Berdasarkan data yang dikelompokkan berdasarkan tingkat pendidikannya, ternyata beberapa data pendidikan dapat diklasifikan dan diakumulasikan sebagai berikut.
- **1st-4th** dapat dikategorikan sebagai **SD**
- **5st-6th** dapat dikategorikan sebagai **SD**
- **7st-8th** dapat dikategorikan sebagai **SMP**
- **9th** dapat dikategorikan sebagai **SMP**
- **10th** dapat dikategorikan sebagai **SMA**
- **11th** dapat dikategorikan sebagai **SMA**
- **12th** dapat dikategorikan sebagai **SMA**

Adapun D3, D4, Sarjana, Doktor, Master, serta Sekolah Professional dapat dikategorikan sebagai pendidikan tinggi.

Sedangkan dari segi status perkawinan, status perkawinan dapat dikelompokan lagi sebagai berikut
- **Berpisah** dan **Janda** dapat dikategorikan sebagai **Cerai**.
- **Menikah LDR** dapat dikategorikan sebagai **Menikah**

Dari segi kelas pekerja dapat dikelompokkan lagi sebagai berikut
- Pekerja bebas non-perusahaan dan pekerja bebas perusahaan serta kelas lainnya dapat dikategorikan sebagai non-pemerintahan
- Pemerintahan baik negara, lokal, maupun provinsi dapat dikatagorikan sebagai sektor pemerintahan, apapun sektornya baik di negara, provinsi, maupun lokal.
- Untuk kelas tidak bekerja maupun yang tidak diketahui dapat dihapus dari data mengingat hal ini sangat sulit untuk diolah dan jumlahnya yang tidak banyak

Sedangkan berhubung dengan banyaknya jenis pekerjaan, pekerjaan akan dibedakan secara jasmani dan rohani.

In [0]:
# profit.isnull().sum()
# profit["Berat Akhir"].value_counts()

# Pemrosesan Data Training dan Data Testing

In [0]:
profit_processed = profit.drop(["id", "Jmlh Tahun Pendidikan"], axis=1)
profit_test_processed = profit_test.drop(["id", "Jmlh Tahun Pendidikan"], axis=1)

## Pemrosesan Data Kelas Pekerja

In [0]:
# profit_processed["Kelas Pekerja"].value_counts()

In [0]:
# profit_test_processed["Kelas Pekerja"].value_counts()

In [0]:
profit_processed.loc[profit_processed["Kelas Pekerja"] == "Wiraswasta", "Kelas Pekerja"] = "Non Pemerintah"
profit_processed.loc[profit_processed["Kelas Pekerja"] == "Pekerja Bebas Bukan Perusahan", "Kelas Pekerja"] = "Non Pemerintah"
profit_processed.loc[profit_processed["Kelas Pekerja"] == "Pekerja Bebas Perusahaan", "Kelas Pekerja"] = "Non Pemerintah"
profit_processed.loc[profit_processed["Kelas Pekerja"] == "Tanpa di Bayar", "Kelas Pekerja"] = "Non Pemerintah"

profit_processed.loc[profit_processed["Kelas Pekerja"] == "Pemerintah Lokal", "Kelas Pekerja"] = "Pemerintah"
profit_processed.loc[profit_processed["Kelas Pekerja"] == "Pemerintah Provinsi", "Kelas Pekerja"] = "Pemerintah"
profit_processed.loc[profit_processed["Kelas Pekerja"] == "Pemerintah Negara", "Kelas Pekerja"] = "Pemerintah"

In [0]:
profit_test_processed.loc[profit_test_processed["Kelas Pekerja"] == "Wiraswasta", "Kelas Pekerja"] = "Non Pemerintah"
profit_test_processed.loc[profit_test_processed["Kelas Pekerja"] == "Pekerja Bebas Bukan Perusahan", "Kelas Pekerja"] = "Non Pemerintah"
profit_test_processed.loc[profit_test_processed["Kelas Pekerja"] == "Pekerja Bebas Perusahaan", "Kelas Pekerja"] = "Non Pemerintah"
profit_test_processed.loc[profit_test_processed["Kelas Pekerja"] == "Tanpa di Bayar", "Kelas Pekerja"] = "Non Pemerintah"

profit_test_processed.loc[profit_test_processed["Kelas Pekerja"] == "Pemerintah Lokal", "Kelas Pekerja"] = "Pemerintah"
profit_test_processed.loc[profit_test_processed["Kelas Pekerja"] == "Pemerintah Provinsi", "Kelas Pekerja"] = "Pemerintah"
profit_test_processed.loc[profit_test_processed["Kelas Pekerja"] == "Pemerintah Negara", "Kelas Pekerja"] = "Pemerintah"

In [0]:
# profit_processed["Kelas Pekerja"].value_counts()

In [0]:
# profit_test_processed["Kelas Pekerja"].value_counts()

## Pemrosesan Data Pendidikan

In [19]:
profit_processed["Pendidikan"].value_counts()

SMA                     12430
Pendidikan Tinggi        8529
Sarjana                  6320
Master                   2093
D4                       1603
11th                     1407
D3                       1260
10th                     1096
7th-8th                   722
Sekolah Professional      666
9th                       604
12th                      509
Doktor                    477
5th-6th                   418
1st-4th                   195
SD                         64
Name: Pendidikan, dtype: int64

In [0]:
profit_processed.loc[profit_processed["Pendidikan"] == "1st-4th", "Pendidikan"] = "SD"
profit_processed.loc[profit_processed["Pendidikan"] == "5th-6th", "Pendidikan"] = "SD"

profit_processed.loc[profit_processed["Pendidikan"] == "7th-8th", "Pendidikan"] = "SMP"
profit_processed.loc[profit_processed["Pendidikan"] == "9th", "Pendidikan"] = "SMP"

profit_processed.loc[profit_processed["Pendidikan"] == "10th", "Pendidikan"] = "SMA"
profit_processed.loc[profit_processed["Pendidikan"] == "11th", "Pendidikan"] = "SMA"
profit_processed.loc[profit_processed["Pendidikan"] == "12th", "Pendidikan"] = "SMA"

profit_processed.loc[profit_processed["Pendidikan"] == "D3", "Pendidikan"] = "Pendidikan Tinggi"
profit_processed.loc[profit_processed["Pendidikan"] == "D4", "Pendidikan"] = "Pendidikan Tinggi"
profit_processed.loc[profit_processed["Pendidikan"] == "Sarjana", "Pendidikan"] = "Pendidikan Tinggi"
profit_processed.loc[profit_processed["Pendidikan"] == "Master", "Pendidikan"] = "Pendidikan Tinggi"
profit_processed.loc[profit_processed["Pendidikan"] == "Doktor", "Pendidikan"] = "Pendidikan Tinggi"
profit_processed.loc[profit_processed["Pendidikan"] == "Sekolah Professional", "Pendidikan"] = "Pendidikan Tinggi"

In [0]:
profit_test_processed.loc[profit_test_processed["Pendidikan"] == "1st-4th", "Pendidikan"] = "SD"
profit_test_processed.loc[profit_test_processed["Pendidikan"] == "5th-6th", "Pendidikan"] = "SD"

profit_test_processed.loc[profit_test_processed["Pendidikan"] == "7th-8th", "Pendidikan"] = "SMP"
profit_test_processed.loc[profit_test_processed["Pendidikan"] == "9th", "Pendidikan"] = "SMP"

profit_test_processed.loc[profit_test_processed["Pendidikan"] == "10th", "Pendidikan"] = "SMA"
profit_test_processed.loc[profit_test_processed["Pendidikan"] == "11th", "Pendidikan"] = "SMA"
profit_test_processed.loc[profit_test_processed["Pendidikan"] == "12th", "Pendidikan"] = "SMA"

profit_test_processed.loc[profit_test_processed["Pendidikan"] == "D3", "Pendidikan"] = "Pendidikan Tinggi"
profit_test_processed.loc[profit_test_processed["Pendidikan"] == "D4", "Pendidikan"] = "Pendidikan Tinggi"
profit_test_processed.loc[profit_test_processed["Pendidikan"] == "Sarjana", "Pendidikan"] = "Pendidikan Tinggi"
profit_test_processed.loc[profit_test_processed["Pendidikan"] == "Master", "Pendidikan"] = "Pendidikan Tinggi"
profit_test_processed.loc[profit_test_processed["Pendidikan"] == "Doktor", "Pendidikan"] = "Pendidikan Tinggi"
profit_test_processed.loc[profit_test_processed["Pendidikan"] == "Sekolah Professional", "Pendidikan"] = "Pendidikan Tinggi"

In [22]:
profit_processed["Pendidikan"].value_counts()

Pendidikan Tinggi    20948
SMA                  15442
SMP                   1326
SD                     677
Name: Pendidikan, dtype: int64

In [23]:
profit_test_processed["Pendidikan"].value_counts()

Pendidikan Tinggi    5234
SMA                  3865
SMP                   352
SD                    148
Name: Pendidikan, dtype: int64

## Pemrosesan Data Status Perkawinan

In [24]:
profit_processed["Status Perkawinan"].value_counts()

Menikah                 17640
Belum Pernah Menikah    12650
Cerai                    5200
Berpisah                 1203
Janda                    1178
Menikah LDR               522
Name: Status Perkawinan, dtype: int64

In [25]:
profit_test_processed["Status Perkawinan"].value_counts()

Menikah                 4333
Belum Pernah Menikah    3213
Cerai                   1304
Janda                    313
Berpisah                 301
Menikah LDR              135
Name: Status Perkawinan, dtype: int64

In [0]:
profit_processed.loc[profit_processed["Status Perkawinan"] == "Berpisah", "Status Perkawinan"] = "Cerai"
profit_processed.loc[profit_processed["Status Perkawinan"] == "Janda", "Status Perkawinan"] = "Cerai"

profit_processed.loc[profit_processed["Status Perkawinan"] == "Menikah LDR", "Status Perkawinan"] = "Menikah"

In [0]:
profit_test_processed.loc[profit_test_processed["Status Perkawinan"] == "Berpisah", "Status Perkawinan"] = "Cerai"
profit_test_processed.loc[profit_test_processed["Status Perkawinan"] == "Janda", "Status Perkawinan"] = "Cerai"

profit_test_processed.loc[profit_test_processed["Status Perkawinan"] == "Menikah LDR", "Status Perkawinan"] = "Menikah"

In [28]:
profit_processed["Status Perkawinan"].value_counts()

Menikah                 18162
Belum Pernah Menikah    12650
Cerai                    7581
Name: Status Perkawinan, dtype: int64

In [29]:
profit_test_processed["Status Perkawinan"].value_counts()

Menikah                 4468
Belum Pernah Menikah    3213
Cerai                   1918
Name: Status Perkawinan, dtype: int64

## Pemrosesan Data Pekerjaan

In [0]:
# profit_processed["Pekerjaan"].value_counts()

In [0]:
# profit_test_processed["Pekerjaan"].value_counts()

In [0]:
profit_processed.loc[profit_processed["Pekerjaan"] == "Asisten Rumah Tangga", "Pekerjaan"] = "Jasmani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Perbaikan Kerajinan", "Pekerjaan"] = "Jasmani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Petani", "Pekerjaan"] = "Jasmani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Supir", "Pekerjaan"] = "Jasmani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Pembersih", "Pekerjaan"] = "Jasmani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Penjaga", "Pekerjaan"] = "Jasmani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Servis Lainnya", "Pekerjaan"] = "Jasmani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Tech-support", "Pekerjaan"] = "Jasmani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Tentara", "Pekerjaan"] = "Jasmani"

profit_processed.loc[profit_processed["Pekerjaan"] == "Spesialis", "Pekerjaan"] = "Rohani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Ekesekutif Managerial", "Pekerjaan"] = "Rohani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Pemuka Agama", "Pekerjaan"] = "Rohani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Sales", "Pekerjaan"] = "Rohani"
profit_processed.loc[profit_processed["Pekerjaan"] == "Mesin Inspeksi", "Pekerjaan"] = "Rohani"

In [0]:
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Asisten Rumah Tangga", "Pekerjaan"] = "Jasmani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Perbaikan Kerajinan", "Pekerjaan"] = "Jasmani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Petani", "Pekerjaan"] = "Jasmani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Supir", "Pekerjaan"] = "Jasmani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Pembersih", "Pekerjaan"] = "Jasmani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Penjaga", "Pekerjaan"] = "Jasmani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Servis Lainnya", "Pekerjaan"] = "Jasmani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Tech-support", "Pekerjaan"] = "Jasmani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Tentara", "Pekerjaan"] = "Jasmani"

profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Spesialis", "Pekerjaan"] = "Rohani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Ekesekutif Managerial", "Pekerjaan"] = "Rohani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Pemuka Agama", "Pekerjaan"] = "Rohani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Sales", "Pekerjaan"] = "Rohani"
profit_test_processed.loc[profit_test_processed["Pekerjaan"] == "Mesin Inspeksi", "Pekerjaan"] = "Rohani"

In [0]:
# profit_processed.drop(profit_processed.loc[profit_processed['Pekerjaan'] == "?"].index, inplace=True)
# profit_test_processed.drop(profit_test_processed.loc[profit_test_processed['Pekerjaan'] == "?"].index, inplace=True)

In [0]:
# profit_processed["Pekerjaan"].value_counts()

In [0]:
# profit_test_processed["Pekerjaan"].value_counts()

In [37]:
profit_processed.head(10)

   Umur   Kelas Pekerja  Berat Akhir  ... Kerugian Capital Jam per Minggu Gaji
0    59      Pemerintah       139616  ...              0.0           50.0    1
1    52  Non Pemerintah       158993  ...              0.0           38.0    0
2    52  Non Pemerintah       284648  ...              0.0           99.0    1
3    45  Non Pemerintah       132847  ...              0.0           40.0    0
4    28  Non Pemerintah       103432  ...              0.0           45.0    1
5    21  Non Pemerintah       188793  ...              0.0           35.0    0
6    58  Non Pemerintah       106740  ...              0.0           40.0    1
7    60               ?       141221  ...       30282000.0           25.0    0
8    23  Non Pemerintah       216889  ...              0.0           40.0    0
9    34               ?       112584  ...              0.0           40.0    0

[10 rows x 11 columns]

## Numerisasi Data Katagorikal

In [0]:
profit_x = profit_processed.drop("Gaji", axis=1)
profit_y = profit_processed["Gaji"]

profit_testx = profit_test_processed

In [0]:
profit_x = pd.get_dummies(profit_x, columns=["Kelas Pekerja", "Status Perkawinan", "Pekerjaan", "Jenis Kelamin"])

profit_testx = pd.get_dummies(profit_testx, columns=["Kelas Pekerja", "Status Perkawinan", "Pekerjaan", "Jenis Kelamin"])

In [0]:
profit_x["Pendidikan"] = profit_x["Pendidikan"].replace({
    "SD" : 0,
    "SMP" : 1,
    "SMA" : 2,
    "Pendidikan Tinggi" : 3
})

profit_testx["Pendidikan"] = profit_testx["Pendidikan"].replace({
    "SD" : 0,
    "SMP" : 1,
    "SMA" : 2,
    "Pendidikan Tinggi" : 3
})

In [41]:
profit_x.head()

   Umur  Berat Akhir  ...  Jenis Kelamin_Laki2  Jenis Kelamin_Perempuan
0    59       139616  ...                    1                        0
1    52       158993  ...                    0                        1
2    52       284648  ...                    0                        1
3    45       132847  ...                    0                        1
4    28       103432  ...                    1                        0

[5 rows x 18 columns]

## Normalisasi Data

In [0]:
from sklearn.preprocessing import Normalizer

profit_x.loc[:, ['Umur', 'Jam per Minggu', 'Berat Akhir', 'Keuntungan Kapital', 'Kerugian Capital']] = Normalizer().fit(
    profit_x.loc[:, ['Umur', 'Jam per Minggu', 'Berat Akhir', 'Keuntungan Kapital', 'Kerugian Capital']]
).transform(profit_x.loc[:, ['Umur', 'Jam per Minggu', 'Berat Akhir', 'Keuntungan Kapital', 'Kerugian Capital']])

profit_testx.loc[:, ['Umur', 'Jam per Minggu', 'Berat Akhir', 'Keuntungan Kapital', 'Kerugian Capital']] = Normalizer().fit(
    profit_testx.loc[:, ['Umur', 'Jam per Minggu', 'Berat Akhir', 'Keuntungan Kapital', 'Kerugian Capital']]
).transform(profit_testx.loc[:, ['Umur', 'Jam per Minggu', 'Berat Akhir', 'Keuntungan Kapital', 'Kerugian Capital']])

# Training Model dan Evaluasi

In [0]:
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV

x_train, x_val, y_train, y_val = train_test_split(profit_x, profit_y, test_size=0.2)

In [44]:
print(x_train.shape, x_val.shape, y_train.shape, y_val.shape)

(30714, 18) (7679, 18) (30714,) (7679,)

In [0]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

# model = DecisionTreeClassifier()

# # # DecisionTreeClassifier?

params = {
    'max_leaf_nodes': [],
    'min_samples_leaf': [i for i in range(2, 11)],
    'min_samples_split': [i for i in range(2, 11)],
    'max_features': [i for i in range(2, 11)],
    'max_depth': [i for i in range(2, 11)]
}

gscv = GridSearchCV(model, param_grid=params, scoring="accuracy", n_jobs=10, verbose=3)
gscv.fit(x_train, y_train)

In [56]:
gscv.best_params_

{'max_depth': 3,
 'max_features': 10,
 'max_leaf_nodes': 9,
 'min_samples_leaf': 6,
 'min_samples_split': 2}

In [58]:
# index = []
# aucl = []
# DecisionTreeClassifier?
# for i in range(1, 100):
#     model = DecisionTreeClassifier(criterion="entropy",
#                                max_features=17, splitter="best",
#                                max_depth=i, min_samples_leaf=22,
#                                   )
#     model.fit(x_train, y_train)

#     y_pred = model.predict(x_val)

#     # cm = confusion_matrix(y_val, y_pred)

#     # cl = classification_report(y_val, y_pred)

#     from sklearn.metrics import roc_auc_score

#     auc = roc_auc_score(y_val,y_pred)
#     aucl.append(auc)
#     index.append(i)

# import matplotlib.pyplot as plt
# plt.plot(index, aucl)
# # plt.scatter(max(aucl).index(), max(aucl))
# plt.show()

model = DecisionTreeClassifier(criterion="gini", min_samples_leaf=6,
                               min_samples_split=2, max_leaf_nodes=9,
                               max_features=10, max_depth=3)
print(model)
model.fit(x_train, y_train)

y_pred = model.predict_proba(x_val)[:, 1]
print(y_pred)

from sklearn.metrics import roc_auc_score
auc = roc_auc_score(y_val, y_pred)
print(auc)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=10, max_leaf_nodes=9,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=6, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')
[0.02210243 0.50721192 0.02210243 ... 0.02210243 0.02210243 0.50721192]
0.8466678826470011

In [0]:
profit_test_processed["Gaji"] = model.predict(profit_testx)

In [0]:
# profit_test_processed

In [0]:
profit_test["Gaji"] = profit_test_processed["Gaji"]

In [0]:
# profit_test

In [0]:
profit_after = profit_test.loc[:, ["id", "Gaji"]]

In [0]:
# profit_after

In [0]:
profit_after.to_csv("pendapatan_test_after.csv", index=False)